* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik Mono One", sans-serif;
  color: #2994b2;
}

body {
  background-color: #ffb400;
}

#uploadbar {
  background-color: #2994b2;
  position: absolute;
  top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
}

input {
  height: 50px;
}

#imagescontainer {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#moreimagesbutton {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.imagebox {
  margin: 10px;
  padding: 5px;
  text-align: center;
  position: relative;
  border: 1px #fffbe0 solid;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.imagebox img {
  margin: auto;
  padding: 5px;
  object-fit: cover;
  height: 350px;
  width: 450px;
}

#biggerimage {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  width: 800px;
  height: 1200px;
  overflow: hidden;
  z-index: 500;
  color: white;
}

#biggerimage img {
  margin: auto;
  padding: 5px;
  object-fit: cover;
  height: 500px;
  width: 700px;
}

#xbutton:hover {
  cursor: pointer;
}